<p> I'm ins sound-component.hbs</p>

<button {{action 'makeSound' on="mouseEnter"}}>Wowie Meowie!</button>

<button {{action 'kickDrum' on="mouseEnter"}}>Kick</button>

<button {{action 'snareDrum' on="mouseEnter"}}>Snare</button>
