<div class="button-wrapper">

  <button class="meow" {{action 'makeSound' on="mouseEnter"}}>Meow</button>

  <button class="kick" {{action 'kickDrum' on="mouseEnter"}}>Kick</button>

  <button class="snare"{{action 'snareDrum' on="mouseEnter"}}>Snare</button>

</div>
