// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #252525;
  // background: linear-gradient(180deg, #ff644d, #e63df5, #3dd0f5, #4dff82);
  // background-size: 600% 600%;
  // animation: backgAnimation 3s ease infinite;
  font-family: 'Helvetica';
  h2 {
    text-align: center;
    font-size: 6em;
    color: #e0e0e0;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2em;
    font-weight: lighter;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}


a {
  text-decoration: none;
  h2 {
    color: white;
    &:hover {
    color: LightGreen;
    }
  }
}
