// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #252525;
  font-family: 'Helvetica';
  overflow-x: hidden;
}

.wrapper {
  background: AliceBlue;
  border-radius: 10px;
  height: 500px;
  min-width: 825px;
  max-width: 825px;
  margin: auto;
  -webkit-box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
}

.sound-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drum-top {
  margin-top: 35px;
  display: flex;
}

.knob {
  height: 100px;
  width: 100px;
  background: AliceBlue;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #999;
  border: solid 1px LightGrey;
  border-top-color: RoyalBlue;
  transition-duration: 10s;
  &:hover {
  transform: rotate(720deg);
}
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(290px, 0);
  }

  80% {
    transform: translate(0px, 0);
  }
}

.led-display {
  margin-right: 60px;
  height: 60px;
  width: 350px;
  border-radius: 5px;
  background: #bdf5bd;
  border: 1px solid LightGreen;
  .fa-eraser {
    color: #666;
    font-size: 1.5em;
    opacity: 0.4;
    margin-top: 15px;
    margin-left: 10px;
    animation:
    nudge 12s linear infinite alternate;
  }
}

.middle-top {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.power-light {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background: orange;
  border: 1px solid darken(orange, 10);
  margin-right: 20px;
  margin-left: 60px;
}

a {
  text-decoration: none;
  h2 {
    .b-title {
      color: LightGreen;
      &:hover {
      color: white;
      }
    }
    .o-title {
      color: LightSkyBlue;
      &:hover {
      color: white;
      }
    }
    .o2-title {
      color: LightSalmon;
      &:hover {
      color: white;
      }
    }
    .m-title {
      color: #67e4de;
      &:hover {
      color: white;
      }
    }
    .b2-title {
      color: #eded5e;
      &:hover {
      color: white;
      }
    }
    .a-title {
      color: LightGreen;
      &:hover {
      color: white;
      }
    }
    .p-title {
      color: LightSkyBlue;
      &:hover {
      color: white;
      }
    }
  }
}
