// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// animations

@keyframes blink{
  from {background:lighten($led-orange, 10);}
  to {background: darken($led-orange, 10);}
}

@-webkit-keyframes blink {
  from {background: lighten($led-orange, 10);}
  to {background: darken($led-orange, 15);}
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(290px, 0);
  }

  80% {
    transform: translate(0px, 0);
  }
}

//basic styles

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: $boom-dark-grey;
  font-family: $stack-helvetica;
  overflow-x: hidden;
}

// drum machine

.wrapper {
  background: $boom-grey;
  border-radius: 10px;
  height: 475px;
  min-width: 800px;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  -webkit-box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  .sound-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    .drum-top {
      display: flex;
      margin-top: 25px;
    }
    .knob {
      background: $boom-grey;
      border-radius: 50px;
      box-shadow: 1px 1px 1px $shadow-grey;
      border: solid 1px LightGrey;
      border-top-color: RoyalBlue;
      height: 100px;
      width: 100px;
      transition-duration: 10s;
      &:hover {
      transform: rotate(720deg);
      }
    }
    .led-display {
      background: #bdf5bd;
      border: 1px solid $boom-green;
      border-radius: 5px;
      height: 60px;
      width: 350px;
      margin-right: 60px;
      .fa-eraser {
        color: #666;
        font-size: 1.5em;
        opacity: 0.4;
        margin-top: 15px;
        margin-left: 10px;
        animation:
        nudge 12s linear infinite alternate;
      }
    }
    .middle-top {
      display: flex;
      align-items: center;
      align-content: space-between;
    }
    .power-light {
      background: lighten($led-orange, 10);
      border: 1px solid darken($led-orange, 10);
      border-radius: 6px;
      height: 12px;
      width: 12px;
      margin-left: 60px;
      margin-right: 20px;
      -webkit-animation:blink 1s infinite alternate;
      -moz-animation:blink 1s infinite alternate;
      -ms-animation:blink 1s infinite alternate;
      -o-animation:blink 1s infinite alternate;
      animation:blink 1s infinite alternate;
    }
  }
}

// link styles

a {
  text-decoration: none;
  h2 {
    .b-title {
      color: $boom-green;
      &:hover {
      color: $white;
      }
    }
    .o-title {
      color: $boom-blue;
      &:hover {
      color: $white;
      }
    }
    .o2-title {
      color: $boom-salmon;
      &:hover {
      color: $white;
      }
    }
    .m-title {
      color: $boom-teal;
      &:hover {
      color: $white;
      }
    }
    .b2-title {
      color: $boom-yellow;
      &:hover {
      color: $white;
      }
    }
    .a-title {
      color: $boom-green;
      &:hover {
      color: $white;
      }
    }
    .p-title {
      color: $boom-blue;
      &:hover {
      color: $white;
      }
    }
  }
}
