/**
 * Basic typography style for copy text
 */

 h2 {
   font-size: 5.2em;
   font-family: 'Comfortaa', cursive;
   letter-spacing: 2em;
   text-shadow: 20px 20px #111;
   font-weight: lighter;
   text-align: center;
   margin-left: 80px;
 }
