// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: none;
  margin: 5px;
}
