// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin-top: 40px;
  height: 400px;
  width: 50%;
  min-width: 100%;
  max-width: 100%;
  .kickDrum, .clapDrum {
    background: $boom-grey;
    border: 1px solid $boom-green;
    color: $boom-green;
    &:hover {
      background: $boom-green;
      color: $boom-grey;
    }
  }
  .rimShotDrum, .closedHatDrum {
    background: $boom-grey;
    border: 1px solid $boom-yellow;
    color: $boom-yellow;
    &:hover {
      background: $boom-yellow;
      color: $boom-grey;
    }
  }
  .snareDrum, .crashDrum {
    background: $boom-grey;
    border: 1px solid $boom-salmon;
    color: $boom-salmon;
    &:hover {
      background: $boom-salmon;
      color: $boom-grey;
    }
  }
  .snare2Drum, .openHatDrum {
    background: $boom-grey;
    border: 1px solid $boom-teal;
    color: $boom-teal;
    &:hover {
      background: $boom-teal;
      color: $boom-grey;
    }
  }
  .synthKickDrum, .clap2Drum {
    background: $boom-grey;
    border: 1px solid $boom-blue;
    color: $boom-blue;
    &:hover {
      background: $boom-blue;
      color: $boom-grey;
    }
  }
}

.drum {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px $shadow-grey;
  color: $boom-grey;
  font-weight: 300;
  height: 120px;
  width: 120px;
  letter-spacing: 0.1em;
  margin: 15px;
  text-transform: uppercase;
}

.loop-group {
  display: flex;
  flex-wrap: wrap;
  font-size: .6em;
  margin-top: -70px;
  .loop {
    background: $dark-grey;
    border: none;
    color: $boom-dark-grey;
    width: 97px;
    height: 40px;
    margin: 1.5px 1.5px;
    &:hover {
      background: $light-grey;
    }
  }
}

.start-loop {
  background: $boom-salmon;
  border: none;
  border-radius: 10px;
  color: $boom-grey;
  font-family: $stack-comfortaa;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 0.15em;
  width: 87px;
  height: 40px;
  position: absolute;
  margin-top: 4px;
  margin-left: -110px;
  &:hover {
    background: $boom-grey;
    color: $boom-salmon;
  }
}

.user-loop-group {
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 100px;
  .user-1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .user-8 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.kick-one {
  border-top-left-radius: 10px;
}

.snare-one {
  border-bottom-left-radius: 10px;
}

.kick-eight {
  border-top-right-radius: 10px;
}

.snare-eight {
  border-bottom-right-radius: 10px;
}

//icons

.fa-sign-language,
.fa-keyboard-o,
.fa-clone,
.fa-circle,
.fa-circle-o,
.fa-bullseye,
.fa-database,
.fa-bolt,
.fa-magic {
  font-size: 1.9em;
}
