// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: none;
  margin: 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: AliceBlue;
  letter-spacing: 0.1em;
  box-shadow: 1px 1px 1px #999;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin-top: 40px;
  width: 50%;
  height: 400px;
  min-width: 100%;
  max-width: 100%;
}

.kickDrum, .clapDrum {
  color: LightGreen;
  background: AliceBlue;
  border: 1px solid LightGreen;
  &:hover {
    background: LightGreen;
    color: AliceBlue;
  }
}
.synthKickDrum, .clap2Drum {
  color: LightSkyBlue;
  background: AliceBlue;
  border: 1px solid LightSkyBlue;
  &:hover {
    color: AliceBlue;
    background: LightSkyBlue;
  }
}
.snareDrum, .crashDrum {
  color: LightSalmon;
  background: AliceBlue;
  border: 1px solid LightSalmon;
  &:hover {
    color: AliceBlue;
    background: LightSalmon;
  }
}
.snare2Drum, .openHatDrum {
  color: #67e4de;
  background: AliceBlue;
  border: 1px solid #67e4de;
  &:hover {
    color: AliceBlue;
    background: #67e4de;
  }
}
.rimShotDrum, .closedHatDrum {
  color: #eded5e;
  background: AliceBlue;
  border: 1px solid #eded5e;
  &:hover {
    color: AliceBlue;
    background: #eded5e;
  }
}

//icons

.fa-sign-language, .fa-keyboard-o, .fa-clone, .fa-circle, .fa-circle-o, .fa-bullseye, .fa-database, .fa-bolt, .fa-magic {
  font-size: 2em;
}
