//color variables

$white: white;
$white-grey: AliceBlue;
$shadow-grey: #999;
$light-grey: #888;
$mid-grey: #555;
$dark-grey: #444;
$darkest-grey: #252525;
$light-green: LightGreen;
$orange: orange;
$light-blue: LightSkyBlue;
$light-salmon: LightSalmon;
$light-teal: #67e4de;
$light-yellow: #eded5e;


//
$boom-dark-grey: $darkest-grey;
$boom-grey: $white-grey;
$boom-green: $light-green;
$boom-blue: $light-blue;
$boom-salmon: $light-salmon;
$boom-teal: $light-teal;
$boom-yellow: $light-yellow;
$led-orange: $orange;

//font-stacks

$stack-helvetica: 'Helvetica', sans-serif;
$stack-comfortaa: 'Comfortaa', cursive;
