<header>
  {{#link-to 'index'}}
  <h2><span class="b-title">B</span><span class="o-title">O</span><span class="o2-title">O</span><span class="m-title">M</span> <span class="b2-title">B</span><span class="a-title">A</span><span class="p-title">P</span></h2>
  {{/link-to}}

  <div class="github">
    {{git-cat}}
  </div>
</header>

<div class="wrapper">
  {{outlet}}
</div>
